.main-site-header {
    height: 100vh;
    width: 100%;
    overflow: hidden;

    .hero-contact{
        background-color: #192021;
        border: none;
    }

    @include media-breakpoint-up(sm) {

    }
    @include media-breakpoint-up(md) {

    }
    @include media-breakpoint-up(lg) {

    }
    @include media-breakpoint-up(xl) {

    }

}